@using MachineApp.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MachineApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-nowrap" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/tile.png" alt="tile" style="width:40%" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Hem</a>
                        </li>
                        @if (User.IsInRole(SD.Role_Admin))
                        {


                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Innehållshantering
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item " asp-area="Admin" asp-controller="Category" asp-action="Index">Kategori</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="ApplicationType" asp-action="Index">Typ</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a>
                                    @*<div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>*@
                                </div>
                            </li>
                        }
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            @*<li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle text-white " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Användarlista
                </a>
                <div class="dropdown-menu text-nowrap" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item " asp-area="Identity" asp-page="/Account/Register">Skapa administratör</a>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Index">User</a>

                </div>
            </li>*@
                            <li class="nav-item">
                                <a class="nav-link active" asp-area="Admin" asp-controller="User" asp-action="Index">Användarlista</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="Admin" asp-controller="Order" asp-action="Index">
                                @if (User.IsInRole(SD.Role_Admin))
                                {
                                    <span>beställningar</span>
                                }
                                else
                                {
                                    <span>Beställningshistorik</span>
                                }
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Contact" asp-action="Index">Kontakt</a>
                        </li>

                        @if (HttpContextAccessor.HttpContext.Session.GetInt32(SD.ssShoppingCart) > 0)
                        {
                            <li class="nav-item text-white text-nowrap">
                                <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="nav-link active">
                                    @{
                                        var count = HttpContextAccessor.HttpContext.Session.GetInt32(SD.ssShoppingCart);
                                    }
                                    <i class="fas fa-shopping-cart"></i> &nbsp; (@count)
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item text-white text-nowrap">
                                <a href="#" class="nav-link active">
                                    <i class="fas fa-shopping-cart"></i> &nbsp; (0)
                                </a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notifications">
                @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container text-white text-center">
            &copy; 2021  <a class="navbar-brand" style="color:#4cff00" asp-area="" asp-controller="Home" asp-action="Index">- MACHINEAPP</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/ce337f7c31.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
