@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Glömt lösenordsbekräftelse";
}

<h1>@ViewData["Title"]</h1>
<p>
    Kontrollera din e-postadress för att återställa lösenordet.
</p>

