@page
@model RegisterModel
@using MachineApp.Utility
@*@{
        ViewData["Title"] = "Register";
    }*@
@*@if (User.IsInRole(SD.Role_Admin))
    {
        <strong>Registrera ett administratörskonto</strong>
    }
    else
    {
        <strong>Registrera</strong>
    }*@

<div class="py-4">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row form-group">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-body px-lg-5 pt-4">
                    <form autocomplete="off" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h3 class="col-12 text-success text-center py-4">
                            @if (User.IsInRole(SD.Role_Admin))
                            {
                            <strong>Register an User Account</strong>
                            }
                            else
                            {
                            <strong>Bli medlem</strong>
                            }
                        </h3>
                        <hr />
                        <div class="py-2 form-group row offset-2">
                            <div class="col-10">
                                <input asp-for="Input.Name" placeholder="Namn" class="form-control" id="name" />
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                            </div>

                            <div class="col-2">
                                <i class="far fa-question-circle" data-toggle="tooltip" title="Fältet för namn krävs, måste vara högst 50 bokstäver!"></i>
                            </div>
                        </div>
                        <div class="py-2 form-group row offset-2 ">
                            <div class="col-10">
                                <input asp-for="Input.Email" type="email" placeholder="E-Post" class="form-control" id="email" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="col-2 ">
                                <i class="far fa-question-circle" data-toggle="tooltip" title="E-Post krävs, me@example.org!"></i>
                            </div>
                        </div>
                        <div class="py-2 form-group  row offset-2">
                            <div class="col-2">
                                <span class="input-group-text">+46</span>
                            </div>
                            <div class="col-8">
                                <input asp-for="Input.PhoneNumber" type="text" placeholder="Telefonnummer" class="form-control" id="phoneNumber"/>
                                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="col-2  ">
                                <i class="far fa-question-circle" data-toggle="tooltip" title="telefonnummer krävs, måste vara högst 10 siffror!"></i>
                            </div>
                        </div>
                        <div class="py-2 form-group  row offset-2">
                            <div class="col-10">
                                <input asp-for="Input.StreetAddress" placeholder="Gatuadress" class="form-control" id="streetAddress" />
                                <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
                            </div>
                            <div class="col-2  ">
                                <i class="far fa-question-circle" data-toggle="tooltip" title="Gatuadress krävs, måste vara högst 50 bokstäver!"></i>
                            </div>
                        </div>
                        <div class="py-2 form-group  row offset-2">
                            <div class="col-10">
                                <input asp-for="Input.City" placeholder="Stad" class="form-control" id="city"/>
                                <span asp-validation-for="Input.City" class="text-danger"></span>
                            </div>
                            <div class="col-2  ">
                                <i class="far fa-question-circle" data-toggle="tooltip" title="Stad krävs, måste vara högst 50 bokstäver!"></i>
                            </div>
                        </div>
                        <div class="form-group row py-2 offset-2">
                            @*<div class="col">
                                    <input asp-for="Input.State" placeholder="State" class="form-control" />
                                    <span asp-validation-for="Input.State" class="text-danger"></span>
                                </div>*@
                            <div class="col-10">
                                <input asp-for="Input.PostalCode" placeholder="Postnummer" class="form-control" id="postalCode"/>
                                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                            </div>
                            <div class="col-2  ">
                                <i class="far fa-question-circle" data-toggle="tooltip" title="Postnummer krävs, måste vara högst 50 bokstäver!"></i>
                            </div>
                        </div>
                        <div class="form-group row py-2 offset-2">
                            <div class="col-10 py-2">
                                <input asp-for="Input.Password" type="password" placeholder="Lösenord" class="form-control" id="password" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="col-2  ">
                                <i class="far fa-question-circle" data-toggle="tooltip" title="
                                   Lösenord krävs,Lösenord måste innehålla:
                                   minst 6 tecken,
                                   minst ett tecken som inte är alfanumeriskt,
                                   minst en siffra ('0' - '9'),
                                   minst en versal ('A' - 'Z')."></i>
                            </div>
                        </div>
                        <div class="form-group row py-2 offset-2">
                            <div class="col-10 py-2">
                                <input asp-for="Input.ConfirmPassword" type="password" placeholder="Bekräfta lösenord" class="form-control" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="col-2  ">
                                <i class="far fa-question-circle" data-toggle="tooltip" title="bekräftelselösenordet krävs, måste matcha lösenord !"></i>
                            </div>
                        </div>
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                        <div class="form-group row py-2 offset-2">
                            <div class="col-10 py-2">
                                <label asp-for="Input.Role"></label>
                                @Html.DropDownListFor(m => m.Input.Role, Model.Input.RoleList, "Välj en roll", new { @class = "form-control "})
                            </div>
                        </div>
                        }



                        <div class="py-2 form-group  offset-1">

                            <button type="submit" class="btn btn-primary form-control" >Registrera</button>
                        </div>
                        @*<div class="py-2">
                                <button type="submit" class="btn btn-success form-control">Register</button>
                            </div>*@
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
   
}
