@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Återställ lösenordsbekräftelse";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ditt lösenord har blivit återställt. Snälla <a asp-page="./Login">Klicka här för att logga in</a>.
</p>
