@model int
<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Beställningen har skickats framgångsrikt</h1><br />
        <img src="~/images/lawn_leaf.jpg" style="width:50%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Tack för din beställning! <br />
        Vi har fått din beställning och vi skickar ett uppföljningsmeddelande inom kort!
        <br />
        Ditt ordernummer är : @Model
    </div>
</div>

